<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>New Car Showcase</title>
</head>
<body>
    <h1>New Car Showcases</h1>

    <ul>
        <% events.forEach(event => { %>
            <li>
                <div class="event">
                    <div class="task-details">
                        <h3 class="task-name">Registered for Event <%= event.id %></h3>
                        <p>Full Name: <%= event.firstName %> <%= event.lastName %></p>
                        <p>Email: <%= event.email %></p>
                    </div>
                </div>
            </li>
        <% }); %>
    </ul>

    <div class="form">
        <form action="/tasks" method="POST">
            <fieldset>
                <legend>Add Car Showcase</legend>
                <label for="1">Make: </label>
                <input type="text" id="1" name="carMake" value="" placeholder="Car Make" required>
                <label for="2">Date: </label>
                <input type="date" id="2" name="carDate" value="" required>
                <label for="3">Weight: </label>
                <input type="number" id="3" name="carWeight" value="" placeholder="Car Weight" required>
                <label for="4">Doors: </label>
                <select name="carDoor" id="4">
                    <option value="2-door">2-Door</option>
                    <option value="4-door">4-Door</option>
                </select>
                <label for="5">Location: </label>
                <select name="carLocation" id="5">
                    <option value="Alabama">Alabama</option>
                    <option value="Alaska">Alaska</option>
                    <option value="Arizona">Arizona</option>
                    <option value="Arkansas">Arkansas</option>
                    <option value="California">California</option>
                    <option value="Colorado">Colorado</option>
                    <option value="Connecticut">Connecticut</option>
                    <option value="Delaware">Delaware</option>
                    <option value="Florida">Florida</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Idaho">Idaho</option>
                    <option value="Illinois">Illinois</option>
                    <option value="Indiana">Indiana</option>
                    <option value="Iowa">Iowa</option>
                    <option value="Kansas">Kansas</option>
                    <option value="Kentucky">Kentucky</option>
                    <option value="Louisiana">Louisiana</option>
                    <option value="Maine">Maine</option>
                    <option value="Maryland">Maryland</option>
                    <option value="Massachusetts">Massachusetts</option>
                    <option value="Michigan">Michigan</option>
                    <option value="Minnesota">Minnesota</option>
                    <option value="Mississippi">Mississippi</option>
                    <option value="Missouri">Missouri</option>
                    <option value="Montana">Montana</option>
                    <option value="Nebraska">Nebraska</option>
                    <option value="Nevada">Nevada</option>
                    <option value="New Hampshire">New Hampshire</option>
                    <option value="New Jersey">New Jersey</option>
                    <option value="New Mexico">New Mexico</option>
                    <option value="New York">New York</option>
                    <option value="North Carolina">North Carolina</option>
                    <option value="North Dakota">North Dakota</option>
                    <option value="Ohio">Ohio</option>
                    <option value="Oklahoma">Oklahoma</option>
                    <option value="Oregon">Oregon</option>
                    <option value="Pennsylvania">Pennsylvania</option>
                    <option value="Rhode Island">Rhode Island</option>
                    <option value="South Carolina">South Carolina</option>
                    <option value="South Dakota">South Dakota</option>
                    <option value="Tennessee">Tennessee</option>
                    <option value="Texas">Texas</option>
                    <option value="Utah">Utah</option>
                    <option value="Vermont">Vermont</option>
                    <option value="Virginia">Virginia</option>
                    <option value="Washington">Washington</option>
                    <option value="West Virginia">West Virginia</option>
                    <option value="Wisconsin">Wisconsin</option>
                    <option value="Wyoming">Wyoming</option>
                </select>
                <button type="submit">Add Task</button>
            </fieldset>         
        </form>
    </div>
    

    <ul class="content" id="carList">
        <% tasks.forEach(task => { %>
            <li id="carItem">
                <div class="task">
                    <div class="task-details">
                        <h3 class="task-name"><%= task.carMake %></h3>
                        <h5>Date: <%= task.carDate %></h5>
                        <p class="task-desc">Weight: <%= task.carWeight %> lbs</p>
                        <p class="task-desc">Location: <%= task.carLocation %></p>
                        <p class="task-desc">Door Type: <%= task.carDoor %></p>
                    </div>
                    <div class="task-buttons">
                        <button class="edit-button"><a href="/tasks/<%= task.id %>/edit">Edit</a></button>
                        <form action="/tasks/<%= task.id %>/delete" method="POST" style="display:inline;">
                            <button class="delete-button" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </li>
        <% }); %>
    </ul>
</body>
</html>